
.encabezado{
    display: flex;
    background-image: map-get($colores, colorEncabezado);
    justify-content: center;
    .encabezado__imagen{
        display: flex;
        width: 60%;
    }
}

.tarjetas{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    .tarjetas-arq{
        display: flex;
        margin-bottom: 10px;
        &:hover{opacity: 70%;}
    }
    .tarjetas__attrezzo{
        display: flex;
        background-color: rgb(241, 248, 246);
        
    }
}



.principal__texto{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    .principal__parrafo{
        font-size: $letra-mediana;
    }
}
.galeria{
    #galeria-titulo{
        display: flex;
        justify-content: flex-end;
        margin-right: 5rem;
    }
    .fotos{
        @extend %fotosDefault;
        border: 1px solid;
        
    }
    .galeria-imagenes{
        margin-top: 2rem;
        &:hover{transform: scale(1.4);}
        transition: $transicion;
    }
    .parallax{
        background-image: url("../imagenes/20200307_121903.jpg");
        height: 50vh;
        width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .parallax2{
        @extend .parallax;
        background-image: url("../imagenes/20201202_104104-01.jpg");
    
    }

}
@media only screen and (max-device-width: 992px) {
    .parallax {
      display: none;
    }
  }