.encabezado{
    display: flex;
    background-image: linear-gradient(to right, rgb(241, 248, 246), rgb(196, 212, 207));
    justify-content: center;
    .encabezado__imagen{
        display: flex;
        width: 60%;
    }
}

.tarjetas{
    display: flex;
    justify-content: center;
    .tarjetas__attrezzo{
        display: flex;
        background-color: rgb(241, 248, 246);
    }
}

.fotos{
    display: flex;
    border: 1px solid;
    margin-bottom: 10px;
}
.boton_form{
    background-color: rgb(172, 174, 173);
}
