


.encabezado{
    display: flex;
    background-image: linear-gradient(to right, rgb(241, 248, 246), rgb(196, 212, 207));
    justify-content: center;
    .encabezado__imagen{
        display: flex;
        width: 60%;
    }
}

.tarjetas{
    display: flex;
    justify-content: center;
    .tarjetas-arq{
        display: flex;
        margin-bottom: 10px;
    }
    .tarjetas__attrezzo{
        display: flex;
        background-color: rgb(241, 248, 246);
        
    }
}

.fotos{
    display: flex;
    border: 1px solid;
    margin-bottom: 10px;
}
.principal__texto{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    .principal__titulo{
        font-size: $letra-grande;
    }
    .principal__parrafo{
        font-size: $letra-mediana;
    }
}
.parallax{
    background-image: url("../imagenes/20200307_121903.jpg");
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-device-width: 992px) {
    .parallax {
      display: none;
    }
  }