$colores: (
    colorEncabezado: linear-gradient(to right, rgb(241, 248, 246), rgb(196, 212, 207)),
    backgroundTarjetas: rgb(241, 248, 246)
);

$tamanos: (
    letraChica: 1em,
    letraMediana: 1.5em,
    letraGrande: 2.5em
);

$bordes: (
    radius: 5px,
    borde: 1px solid rgb(0, 0, 0)
);