@import "./partials/maps";
@import "./partials/variants";
@import "./partials/extends";
@import "./partials/mixins";
@import "./partials/main";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/formulario";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Roboto-Regular;
    
}
@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Regular.ttf);
}

