.galeria .fotos {
  display: flex;
  margin-bottom: 10px;
}

.encabezado {
  display: flex;
  background-image: linear-gradient(to right, rgb(241, 248, 246), rgb(196, 212, 207));
  justify-content: center;
}
.encabezado .encabezado__imagen {
  display: flex;
  width: 60%;
}

.titulo {
  display: flex;
  max-width: 1440px;
  margin: auto;
  justify-content: flex-end;
  margin-right: 5rem;
}

.tarjetas {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.tarjetas .tarjetas-arq {
  display: flex;
  margin-bottom: 10px;
}
.tarjetas .tarjetas-arq:hover {
  opacity: 70%;
}
.tarjetas .tarjetas__attrezzo {
  display: flex;
  background-color: rgb(241, 248, 246);
}

.principal__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.principal__texto .principal__parrafo {
  font-size: 1.2rem;
  width: 60vw;
}

.galeria .fotos {
  border: 1px solid;
}
.galeria .galeria-imagenes {
  margin-top: 2rem;
  transition: all 0.5s ease-in-out;
}
.galeria .galeria-imagenes:hover {
  transform: scale(1.1);
}
.galeria .parallax, .galeria .parallax2 {
  background-image: url("../imagenes/YOGA/Y3.jpg");
  height: 50vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.galeria .parallax2 {
  background-image: url("../imagenes/MUNDO/M29.jpg");
}

@media only screen and (max-device-width: 992px) {
  .titulo {
    max-width: 600px;
    margin: auto;
    justify-content: center;
  }
  .parallax, .galeria .parallax2 {
    display: none;
  }
  .galeria .galeria-titulo {
    max-width: 600px;
    margin: auto;
    justify-content: center;
  }
  .galeria .fotos {
    justify-content: center;
  }
  .principal__texto {
    max-width: 600px;
    margin: auto;
    margin-top: 1rem;
  }
}
.header {
  display: flex;
  justify-content: space-around;
}
.header .logo {
  display: flex;
  width: 100%;
}
.header .navegador {
  width: 100%;
}
.header .navegador__links {
  transition: 0.3s;
}
.header .navegador__links:hover {
  color: #ea5e5e;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer__ul {
  display: flex;
  padding: 0;
  justify-content: space-around;
  width: 150px;
}
footer .footer__span {
  font-style: italic;
  font-size: 20px;
}
footer .footer__creador {
  display: flex;
  margin: 0;
}
footer .logo-redes {
  transition: all 0.5s ease-in-out;
}
footer .logo-redes:hover {
  transform: scale(1.4);
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto .contacto__div h3 {
  font-size: 1.2rem;
  width: 50vw;
}
.contacto form {
  display: flex;
  margin: 2rem;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  border-radius: 5px;
  background-color: rgb(246, 250, 249);
  width: 80%;
}
.contacto form .form-imput {
  width: 60vw;
}
.contacto form .form-tipo {
  font-size: 1rem;
  text-decoration: underline;
}

.boton_form {
  padding: 10px;
  border: 0;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(85, 93, 248);
  border-bottom: 3px solid blue;
}
.boton_form:hover {
  background-color: rgb(33, 64, 217);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Roboto-Thin;
}

@font-face {
  font-family: Roboto-Thin;
  src: url(../fonts/Roboto-Regular.ttf);
}/*# sourceMappingURL=styles.css.map */